<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.among.us.start.reactor.game.portfolio.among_us_start_reactor_game">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
